<link rel="stylesheet" href="styles/nav.css" />
<header>
  <nav class="topNavBar">
    <div class="flex-item1">
      <a href="/">Home</a>
      <a href="/admin">Admin</a>
    </div>
    <div class="flex-item2">
      <a href="/form"
        ><img src="/images/mail.png" alt="image of mail" width="50"
      /></a>
      <a href="https://github.com/leoraggy" target="_blank"
        ><img src="/images/github.png" alt="image of github" width="50"
      /></a>
      <a href="https://www.linkedin.com/in/leoragual" target="_blank"
        ><img src="images/linkedin.png" alt="image of linkedin" width="50"
      /></a>
    </div>
  </nav>
</header>
