<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/mail.png" />
    <title>Confirmation</title>
    <link rel="stylesheet" href="styles/confirm.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>Your form has successfully been submitted!</h1>
      <a class="form-button" href="/">Go send another form</a>
    </main>
  </body>
</html>
