<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guestbook Form</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="js/formValidation.js" defer></script>
  </head>
  <body>
    <main>
      <h1>Contact Form</h1>

      <form id="guestbook-form" action="#" method="get">
        <div class="grid-container">
          <div class="grid-item">
            <label for="fname">First Name</label>
            <span class="error" id="err-fname">Please input a first name!</span>
            <input type="text" id="fname" name="fname" />
          </div>
          <div class="grid-item">
            <label for="lname">Last Name</label
            ><span class="error" id="err-lname">Please input a last name!</span>
            <input type="text" id="lname" name="lname" />
          </div>
          <div class="grid-item">
            <label for="job">Job Title</label>
            <input type="text" id="job" name="job" />
          </div>
          <div class="grid-item">
            <label for="company">Company</label>
            <input type="text" id="company" name="company" />
          </div>
          <div class="grid-item">
            <label for="linkedin">LinkedIn URL</label
            ><span class="error" id="err-linkedin"
              >URL must start with https://linkedin.com/in/</span
            >
            <input type="text" id="linkedin" name="linkedin" />
          </div>
          <div class="grid-item">
            <label for="email">Email Address</label>
            <span class="error" id="err-email"
              >Email address must be in valid format.</span
            >
            <input type="email" id="email" name="email" />
          </div>
        </div>
        <div class="flex-container">
          <div class="meet">
            <label for="meet">How did we meet?</label
            ><span class="error" id="err-meet">Please specify how we met!</span>
            <select name="meet" id="meet">
              <option value="">Please Select</option>
              <option value="school">School</option>
              <option value="friend">Friend</option>
              <option value="work">Work</option>
              <option value="otherOption">Other</option>
            </select>
          </div>
          <div class="other" id="otherDiv">
            <label for="other">Other (please specify)</label>
            <span class="error" id="err-other">Please specify how we met!</span>
            <input type="text" id="other" name="other" />
          </div>
        </div>
        <div class="message">
          <label for="">Message</label><br />
          <textarea name="message" id="message" rows="8" cols="100"></textarea>
        </div>
        <div>
          <input type="checkbox" name="mailing" id="mailing" /><label
            for="mailing"
            >Please add me to your mailing list</label
          >
        </div>
        <div class="bottom" id="format">
          <label for="format">Choose an email format:</label>
          <input type="radio" id="html" name="format" value="html" />
          <label for="html">HTML</label>
          <input type="radio" id="newEmail" name="format" value="newEmail" />
          <label for="newEmail">Email</label>
        </div>
        <button type="submit">Submit</button>
      </form>
      <br />
      <a href="https://github.com/leoraggy/guestbook-form">Github Repository</a>
    </main>
  </body>
</html>
