body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 2rem;
  border: 2px solid black;
  border-radius: 25px;
  margin: 1rem;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
