:root {
  --primary-bg-color: rgb(176, 174, 174);
  --secondary-bg-color: white;
  --primary-color: black;
}

body {
  background-color: var(--primary-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
}

.summarySection {
  flex-direction: column;
}

#summaryTitle {
  order: 1;
}

#summary {
  order: 2;
}

#portrait {
  max-width: 200;
  border-radius: 50%;
  order: 3;
  margin-left: 1rem;
}

main {
  margin: auto;
  max-width: 800px;
  background-color: var(--secondary-bg-color);
  padding: 2rem;
  color: var(--primary-color);
  border: 1px solid #3d444d;
  border-radius: 5px;
}

.name {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-details {
  text-align: center;
  margin-bottom: 1rem;
}
.right {
  display: flex;
}

.contact-details a {
  text-decoration: none;
  color: #006699;
  margin: 0 1rem;
}

.education {
  margin-top: 4rem;
}

.bold-words {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

ul.b {
  list-style-type: square;
}

@media all and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  #portrait {
    order: 1;
    max-width: 200;
    margin-left: 0;
  }
  .summarySection {
    order: 2;
  }
}
